* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #771D32, #E65758);
    color: #fff;
    position: relative;
}

.header {
    width: 90%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 60px;
}

.header__menu {
    flex: 1;
    text-align: right;
}

.header__menu-item {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

.header__menu-item a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 2px;
    transition: all 0.3s ease 0s;
}

.header__menu-item a:hover {
    color: #e7c82f;
}

.top {
    width: 80%;
    min-height: 85vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.top__column {
    margin: 20px 0;
    flex-basis: 50%;
    min-width: 300px;
    height: 100%;
    position: relative;
}

.top__column-title {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 3px;
    line-height: 65px;
}

.top__column-content {
    max-width: 636px;
    margin-top: 100px;
}

.top__column-subtitle {
    font-size: 18px;
    color: #e7c82f;
}