*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: none;
}

.wrapper {
    min-height: 100vh;
    background: linear-gradient(45deg, #00008b, #E65758);
    color: #fff;
    position: relative;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.header__menu {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__logo-img {
    width: 120px;
    cursor: pointer;
}

.menu__list {
    display: flex;
}

.menu__list li {
    list-style: none;
    margin-left: 60px;
}

.menu__link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 5px 2px;
    transition: all 0.3s ease 0s;
}

.menu__link:hover {
    color: #e7c82f;
}

.top__columns {
    display: flex;
}

.top__column {
    margin: 20px 0;
    flex-basis: 50%;
    min-width: 300px;
    height: 100%;
    position: relative;
}

.top__column-title {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 3px;
    line-height: 65px;
}

.top__column-content {
    max-width: 636px;
    margin-top: 100px;
}

.top__column-subtitle {
    font-size: 18px;
    color: #e7c82f;
}

.top__gallery {
    max-width: 400px;
    position: relative;
    margin: auto;
}

.top__gallery img {
    width: 100%;
    border: 10px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

.top__gallery ul {
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
}

.top__gallery-item {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0 30px;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
}

.top__gallery .active {
    color: #e7c82f;
}

.top__gallery-item::after {
    content: "";
    width: 30px;
    height: 2px;
    background: transparent;
    position: absolute;
    top: 8px;
    left: -5px;
}

.top__gallery .active::after {
    background: #e7c82f;
}

.small-icon1 {
    width: 15px;
    position: absolute;
    right: 200px;
    top: -10px;
    opacity: 0.3;
}

.small-icon2 {
    width: 25px;
    position: absolute;
    right: 200px;
    bottom: -100px;
    opacity: 0.3;
}

.small-icon3 {
    width: 25px;
    position: absolute;
    right: 50px;
    top: 200px;
    opacity: 0.5;
    transform: rotate(45deg);
}

.small-icon4 {
    width: 250px;
    position: absolute;
    top: 120px;
    left: -150px;
    opacity: 0.3;
}

.small-icon5 {
    width: 25px;
    position: absolute;
    bottom: 60px;
    left: 50px;
    opacity: 0.3;
}

.icon-menu {
    display: none;
}

@media (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }
    .icon-menu {
        display: block;
        position: absolute;
		right: 25px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
    }
    .icon-menu span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
    }
    .icon-menu span:first-child {
        top: 0px;
    }
    .icon-menu span:last-child {
        top: auto;
	    bottom: 0px;
    }
    .icon-menu._active span {
        transform: scale(0);
    }
    .icon-menu._active span:first-child {
        transform: rotate(-45deg);
		top: calc(50% - 1px);
    }
    .icon-menu._active span:last-child {
        transform: rotate(45deg);
		bottom: calc(50% - 1px);
    }
}